<h1>Car Contacts - <%= @name %></h1>
<% if @names_and_cars.any? %>
<table>
  <thead>
  <tr>
    <th>Contact</th>
    <th>Current Car</th>
  </tr>
  </thead>
  <tbody>
  <% @names_and_cars.each do |pair| %>
    <tr>
      <td>
        <%= link_to(pair.first, {controller: 'contacts', action: 'read', id: @names_to_ids[pair.first]}) %>
      </td>
      <td><%= pair.last %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<br />
<br />
<%= link_to('Add New Contact', contacts_new_contact_path) %>
<br />
<br />
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% end %>