<h1>Car Contacts - <%= @name %></h1>
<table>
  <thead>
  <tr>
    <th>Contact</th>
    <th>Current Car</th>
  </tr>
  </thead>
  <tbody>
  <% @temp.each do |pair| %>
    <tr>
      <td>
        <%= link_to(pair.first, {controller: 'contacts', action: 'read', id: pair.first}) %>
      </td>
      <td><%= pair.last %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to('Add New Contact', contacts_create_path) %>
<br />
<br />
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% end %>